- title @transcription.song.title + " (" + @transcription.song.musician + ")"

.row.transcription
    %h1.transcription__h1= @transcription.song.title
    %p= @transcription.song.musician

    %strong Key
    %p.transcription__key= @transcription.key

    %strong.transcription__strong Transpose Song

    %input#transposeDown{:type => "button", :class => "button alert small transcription__input", :value => "-1"}/
    %input#transposeUp{:type => "button", :class => "button alert small transcription__input", :value => "+1"}/

    .transcription__lyrics#transcription= markdown(@transcription.lyrics)

    - unless @transcription.video.blank?

        %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{@transcription.video}", :title => "YouTube video player", :width => "640"}


    .create
        = link_to "Back to all versions", { :controller => :songs, :action => :show, :id => @transcription.song_id }, { class: 'button'}
        = link_to 'Edit Transcription', edit_transcription_path(:song_id => @transcription.song_id), :class => 'button'
