- title "All Chords"
.row
    %h1 All Songs

    - if transcriber_signed_in?
        .create
            = link_to 'Add New Song', new_song_path, :class => 'button'

    %table
        %tr
            %thead
                %th
                    Composer
                %th
                    Song
                %th
                    Versions
                %th
                    Actions
                %th
                    Transcriber

        - @songs.each do |song|

            %tr
                %td= song.musician

                %td= link_to song.title, song_path(song)
                %td= link_to song.transcriptions.count, song_path(song)

                %td.crud-links
                    = link_to 'Show', song_path(song, :song_id => song.id)
                    - if transcriber_signed_in? && (song.transcriber_id == current_transcriber.id)
                        = link_to 'Edit', edit_song_path(song, :song_id => song.id)
                        = link_to 'Delete', song_path(song), method: :delete, data: { confirm: 'Are you sure?' }

                %td= link_to song.transcriber.name, transcriber_path(song.transcriber_id)
