.row.songs
    %h1.songs__h1 Add new song

    = form_for :song, url: songs_path do |f|
        = f.label :title
        %br
        = f.text_field :title

        = f.label :musician
        %br
        = f.text_field :musician

        = f.label :originalkey
        %br
        = f.text_field :originalkey
        = f.submit :class => 'button'
