.row
    %h1=@song.title

    %p=@song.musician
    %p
        Original Key:
        \#{@song.originalkey}

    .create
        = link_to 'Add New Transcription', new_transcription_path(:song_id=>@song.id), :class => 'button'

    %h2 Existing Transcriptions

    %table
        %tr
            %thead
                %th
                    Version
                %th
                    Level
                %th
                    Key
                %th
                    Actions

        - @transcriptions.each do |transcription|

            %tr
                %td= link_to transcription.comment, transcription_path(transcription)

                %td= transcription.level
                %td= transcription.key
                %td
                    = link_to 'Edit', edit_transcription_path(transcription)
                    = link_to 'Delete', transcription_path(transcription), method: :delete, data: { confirm: 'Are you sure?' }
