= title "Edit"
.row
    %h2 Edit Profile
    = form_for @transcriber, { :action => "update" } do |f|
        .field
            = f.label :name
            %br/
            = f.text_field :name

        .field
            = f.label :instruments
            %br/
            = f.text_area :instruments

        .field
            = f.label :facebook_link
            %br/
            = f.text_field :facebook_link

        .field
            = f.label :twitter_link
            %br/
            = f.text_field :twitter_link

        .field
            = f.label :soundcloud_link
            %br/
            = f.text_field :soundcloud_link

        .field
            = f.label :bandcamp_link
            %br/
            = f.text_field :bandcamp_link

        .actions
            = f.submit :class => 'button'
        = link_to "Cancel", root_path, :class => 'button'
