!!! 5
%html{ :lang => "en" }
    %head
        %meta{ :charset => "utf-8" }
        %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

        %title= content_for?(:title) ? "Chordbook – " + yield(:title) : "Untitled"

        = javascript_include_tag "application", "data-turbolinks-track" => true
        = csrf_meta_tag

        = stylesheet_link_tag "application"

    %body
        = render :partial => 'shared/flash_messages' if !flash.empty?

        .header
            .row
                %nav.user
                    - if transcriber_signed_in?
                        = link_to('Logout', destroy_transcriber_session_path, :method => :delete)
                        = "(" + current_transcriber.email + ")"
                    - else
                        = link_to('Login', new_transcriber_session_path)
                .logo
                    = link_to root_path do
                        %strong Chordbook

        = yield
